
.square {
    background-color: black;
}

#grid {
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    width: 750px;
    height: 750px;
    margin: auto;
}

.etch {
    background-color: pink;
}

h1 {
    text-align: center;
}

#heh {
    display: flex;
    justify-content: center;

}

